<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <title>{% block title %}Welcome in front!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js" integrity="sha512-2rNj2KJ+D8s1ceNasTIex6z4HWyOnEYLVC3FigGOmyQCZc2eBXKgOxQmo3oKLHyfcj53uz4QMsRCWNbLd32Q1g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}

        <script src="//unpkg.com/alpinejs" defer></script>
    </head>
   {#  <header>
        <div class="nav-links">
            <h1>Gift Lists Website</h1>
            <nav>
                <ul>
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Créer une Liste</a></li>
                    <li><a href="#">Parcourir les Listes</a></li>
                </ul>
            </nav>
        </div>
        <div class="login-link">
            {% if app.user %}
                <span>
                    <a href="{{ path('front_app_profile_default') }}">{{ app.user.userIdentifier }}</a>
                </span>
                <a class="disconnect" href="/logout">Déconnexion</a>
            {% else %}
                <a href="/login">Connexion</a>
            {% endif %}
        </div>
    </header> #}

    <section class="section-navbar">
        <header class="navbar">
            <div class="navbar-left">
                <ul>
                    <li><a href="/">Accueil</a></li>
                    <li><a href="{{path('front_app_gift_list_new')}}">Créer une Liste</a></li>
                    <li><a href="{{path('front_app_gift_list_index')}}">Toutes les listes </a></li>
                    <!-- si l'utilisateur est admin j'affiche le lien administration-->
                    {% if is_granted('ROLE_ADMIN') %}
                        <li><a href="{{path('back_app_default')}}">Administration</a></li>
                    {% endif %}
                </ul>
            </div>

            <div class="navbar-right">
                <div class="user-info">
                    {% if app.user %}
                    <span>
                        <a href="{{ path('front_app_profile_default') }}">{{ app.user.userIdentifier }}</a>
                    </span>
                    <a  class="logout-button" href="/logout">Déconnexion</a>
                {% else %}
                    <a href="/login">Connexion</a>
                {% endif %}
                   
                </div>
            </div>
        </header>
    </section>
    <body class="front">
        {% block body %}{% endblock %}
    </body>

    
</html>
